<span class="meta-tile black-page" data-title="St Clement — Joe Loveseat"></span>
<div class="modal_holder"></div>
<div class="scrollContainer">
    <div class="innerScroller">
        <!-- logo -->
        <section class="intro _detail _product">
            <div class="device-content">  
                <div class="row">
                    <div class="column col-10">
                        <span>Global Dining <br>Table — Round</span>
                    </div>
                </div>  
            </div>
        </section>
        <!-- carousel -->
        <div class="hero device-content _detail">
            <div class="row">
                <div class="column col-3">
                    <p class="w_text description">
                       The Global dining table features a solid timber top and base. The open square legs create a re ned contemporary style. The table  ts elegantly in any space.
                    </p>
                </div>
                <div class="column col-1"><span class="fix"></span></div>
                <div class="column col-8">
                    <div class="swiper-container _detail _detail5">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="carousel-cell gallery-image" data-src="/images/home/4.jpg" style="background: url(/images/home/4.jpg); background-size:cover; background-position: 50% 50%;"></div> 
                            </div>
                            <div class="swiper-slide swiper-slide-next">
                                <div class="carousel-cell gallery-image" data-src="/images/home/1.jpg" style="background: url(/images/home/1.jpg); background-size:cover; background-position: 50% 50%;"></div>             
                            </div>
                            <div class="swiper-slide">
                                <div class="carousel-cell gallery-image" data-src="/images/home/2.jpg" style="background: url(/images/home/2.jpg); background-size:cover; background-position: 50% 50%;"></div> 
                            </div>
                            <div class="swiper-slide">
                                <div class="carousel-cell gallery-image" data-src="/images/home/3.jpg" style="background: url(/images/home/3.jpg); background-size:cover; background-position: 50% 50%;"></div>
                            </div>
                        </div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-back hidden"></div>
                    </div>
                </div>
                <div class="column col-1"><span class="fix"></span></div>
              
                   
                    
            </div>
            <div class="row">
                
                <div class="column col-5">
                    <!-- <figure class="">
                        <span class="js-open-fullscreen right" data-related="rel1">
                        </span>
                        <div class="rel1">
                            <div class="image _3x2L detail-half-top" style="background-image:url(/images/home/3.jpg); background-repeat: no-repeat; background-size: cover;"></div> 
                        </div>
                    </figure> -->
                    <div class="swiper-container _detail4 _detail2">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="carousel-cell gallery-image" data-src="/images/home/5.jpg" style="background: url(/images/home/5.jpg); background-size:cover; background-position: 50% 50%;"></div> 
                            </div>
                            <div class="swiper-slide swiper-slide-next">
                                <div class="carousel-cell gallery-image" data-src="/images/home/6.jpg" style="background: url(/images/home/6.jpg); background-size:cover; background-position: 50% 50%;"></div>             
                            </div>
                            <div class="swiper-slide">
                                <div class="carousel-cell gallery-image" data-src="/images/home/7.jpg" style="background: url(/images/home/7.jpg); background-size:cover; background-position: 50% 50%;"></div> 
                            </div>
                        </div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-back hidden"></div>
                    </div>
                </div>

            </div>
        </div>

        <!-- bottom quote -->
        <section class="enquire _negative _visible_ovflow">
            <div class="device-content">
                <div class="row">
                    <div class="column col-9"><span class="fix"></span></div>

                    <div class="column col-3">
                        <p class="w_text js-enquire">Enquire now</p>
                    </div>
                </div>
                <div class="row">
                    <div class="column col-6"><span class="fix"></span></div>
                    <div class="column col-3">
                         <nav class="_specs">
                            <span class="label">Dimensions:</span>
                            <span class="dimensions">L: 1100mm, W: 870mm, H: 780mm</span>
                            <span class="label">Finishes :</span>
                            <ul class="_specs js-specs">
                                <li>
                                    <span data-color="/images/finishes/White.jpg">White</span>
                                </li>
                                <li>
                                    <span data-color="/images/finishes/Dustypink.jpg">Dusty Pink</span>
                                </li>
                                <li>
                                    <span data-color="/images/finishes/Khaki.jpg">Khaki</span>
                                </li>
                                <li>
                                    <span data-color="/images/finishes/Mauve.jpg">Mauve</span>
                                </li>
                                <li>
                                    <span data-color="/images/finishes/Mist.jpg">Mist</span>
                                </li>
                                <li>
                                    <span data-color="/images/finishes/Smoke_t.jpg">Smoke</span>
                                </li>
                                <li>
                                    <span data-color="/images/finishes/Stone.jpg">Stone</span>
                                </li>
                                <li class="last">
                                     <div class="finishes"></div>
                                </li>
                            </ul>
                           
                        </nav>
                        
                    </div>
                </div>
            </div>
        </section>

        <!-- featured products -->
        <section class="more">
            <div class="device-content">
                
                <div class="row">
                    <div class="column col-2">
                        <a href="/furniture/hampton-sofa">
                            <figure class="" data-info="More products you may like:">
                                <div class="image _1x1">
                                    <img src="/images/home/7.jpg" class="fit" alt="">
                                </div>
                                <figcaption>
                                    <p>Hampton Sofa</p>
                                </figcaption>
                            </figure>
                        </a>
                    </div>
                    <div class="column col-2">
                        <a href="/furniture/joe-deep-sofa">
                           
                            <figure class="">
                                <div class="image _1x1">
                                    <img src="/images/home/5.jpg" class="fit" alt="">
                                </div>
                                <figcaption>
                                    <p>Joe Deep Sofa</p>
                                </figcaption>
                            </figure>
                        </a>
                    </div>
                    <div class="column col-5"><span class="fix"></span></div>
                    <div class="column col-2">
                        <a href="/furniture/joe-loveseat" data-info="Next Armchair:">
                            <figure class="">
                                <div class="image _1x1">
                                    <img src="/images/home/6.jpg" class="fit" alt="">
                                </div>
                                <figcaption>
                                    <p>Joe Ottoman Round</p>
                                </figcaption>
                            </figure>
                        </a>
                    </div>
                </div>          
            </div>
        </section>


        <!-- footer -->
        <footer class="w_text">
            <div class="device-content dark">
                <div class="row">
                    <div class="column col-3">
                        <p>68 France Street South, <br>
                         Eden Terrace, 1011 Auckland</p>
                        <p class="copyright">© St Clements</p>
                    </div>
                    <div class="column col-3">
                        <p>Mon – Fri: 10.00am – 5.30pm<br>
                         Sat: 10.00am – 4.00pm</p>
                         <nav>
                            <span>Follow</span>
                            <a href="">Instagram</a>
                            <a href="">Facebook</a>
                            <a href="">Subscribe</a> 
                         </nav>
                    </div>
                    <div class="column col-3">
                        <nav class="contact">
                            <a href="mailto:info@stclements.co.nz" target="_blank" class="no-route">info@stclements.co.nz</a>
                            <a href="tel:+64 21 969 059" target="_blank" class="no-route">+64 21 969 059</a>
                        </nav>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>

