<span class="meta-tile black-page" data-title="St Clement — Joe Loveseat"></span>
<div class="modal_holder"></div>
<div class="scrollContainer">
    <div class="innerScroller">
        <!-- logo -->
        <section class="intro _detail _product">
            <div class="device-content">  
                <div class="row">
                    <div class="column col-10">
                        <span>Joe Deep Sofa <br>with Arms</span>
                    </div>
                </div>  
            </div>
        </section>
        <!-- carousel -->
        <div class="hero device-content _detail">
            <div class="row">
                <div class="column col-9">
                    <div class="swiper-container _detail _detail3">
                        <div class="swiper-wrapper">
                           
                            <div class="swiper-slide swiper-slide-next">
                                <div class="carousel-cell gallery-image" data-src="/images/products/joe-sofa/1.jpg" style="background: url(/images/products/joe-sofa/1.jpg); background-size:cover; background-position: 50% 50%;"></div>             
                            </div>
                            <div class="swiper-slide">
                                <div class="carousel-cell gallery-image" data-src="/images/products/joe-sofa/2.jpg" style="background: url(/images/products/joe-sofa/2.jpg); background-size:cover; background-position: 50% 50%;"></div> 
                            </div>
                        </div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-back hidden"></div>
                    </div>
                </div>
                <div class="column col-3"><span class="fix"></span></div>
                <div class="column col-3">
                    <p class="w_text description">
                        The Joe is all about simple comfort. The washed linen cover is an elegant touch
                        with the feather scatter cushions to give maximum comfort and support. It can be removed and machine washed. perfect for a busy home.
                    </p>
                </div>
                   <!--  <p class="w_text description">
                        The Joe is all about simple comfort. The washed linen cover is an elegant touch
                        with the feather scatter cushions to give maximum comfort and support. It can be removed and machine washed. perfect for a busy home.
                        
                    </p> -->
                    
            </div>
            <div class="row">
                <div class="column col-7"><span class="fix"></span></div>
                <div class="column col-5">
                    <!-- <figure class="">
                        <span class="js-open-fullscreen right" data-related="rel1">
                        </span>
                        <div class="rel1">
                            <div class="image _3x2L detail-half-top" style="background-image:url(/images/home/3.jpg); background-repeat: no-repeat; background-size: cover;"></div> 
                        </div>
                    </figure> -->
                    <div class="swiper-container _detail4 _detail2">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide swiper-slide-next">
                                <div class="carousel-cell gallery-image" data-src="/images/products/joe-sofa/3.jpg" style="background: url(/images/products/joe-sofa/1.jpg); background-size:cover; background-position: 50% 50%;"></div>             
                            </div>
                            <div class="swiper-slide">
                                <div class="carousel-cell gallery-image" data-src="/images/products/joe-sofa/2.jpg" style="background: url(/images/products/joe-sofa/2.jpg); background-size:cover; background-position: 50% 50%;"></div> 
                            </div>
                        </div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-back hidden"></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- bottom quote -->
        <section class="enquire _negative _visible_ovflow">
            <div class="device-content">
                <div class="row">
                    <div class="column col-12">
                        <p class="w_text js-enquire">Enquire now</p>
                    </div>
                </div>
                <div class="row">
                    <div class="column col-3"><span class="fix"></span></div>
                    <div class="column col-3">
                         <nav class="_specs">
                            <span class="label">Dimensions:</span>
                            <span>L: 1100mm, W: 870mm, H: 780mm</span>
                            <br>
                            <span class="label">Finishes :</span>
                            <ul class="_specs js-specs">
                                <li>
                                    <span data-color="/images/finishes/White.jpg">White</span>
                                </li>
                                
                                <li>
                                    <span data-color="/images/finishes/Smoke_t.jpg">Smoke</span>
                                </li>
                                <li>
                                    <span data-color="/images/finishes/Stone.jpg">Stone</span>
                                </li>
                                <li class="last">
                                     <div class="finishes"></div>
                                </li>
                            </ul>

                        </nav>
                    </div>
                </div>
            </div>
        </section>

        <!-- featured products -->
        <section class="more">
            <div class="device-content">
                
                <div class="row">
                    <div class="column col-2">
                        <a href="/furniture/hampton-sofa">
                            <figure class="" data-info="More products you may like:">
                                <div class="image _1x1">
                                    <img src="/images/home/7.jpg" class="fit" alt="">
                                </div>
                                <figcaption>
                                    <p>Hampton Sofa</p>
                                </figcaption>
                            </figure>
                        </a>
                    </div>
                    <div class="column col-2">
                        <a href="/furniture/global-dinning-table">
                           
                            <figure class="" >
                                <div class="image _1x1">
                                    <img src="/images/home/5.jpg" class="fit" alt="">
                                </div>
                                <figcaption>
                                    <p>Global Dinning Table</p>
                                </figcaption>
                            </figure>
                        </a>
                    </div>
                    <div class="column col-5"><span class="fix"></span></div>
                    <div class="column col-2">
                        <a href="/furniture/joe-loveseat">
                            <figure class="" data-info="Next Armchair:">
                                <div class="image _1x1">
                                    <img src="/images/home/6.jpg" class="fit" alt="">
                                </div>
                                <figcaption>
                                    <p>Joe Ottoman Round</p>
                                </figcaption>
                            </figure>
                        </a>
                    </div>
                   
                   
                </div>          
            </div>
        </section>

        <!-- footer -->
        <footer class="w_text">
            <div class="device-content dark">
                <div class="row">
                    <div class="column col-3">
                        <p>68 France Street South, <br>
                         Eden Terrace, 1011 Auckland</p>
                        <p class="copyright">© St Clements</p>
                    </div>
                    <div class="column col-3">
                        <p>Mon – Fri: 10.00am – 5.30pm<br>
                         Sat: 10.00am – 4.00pm</p>
                         <nav>
                            <span>Follow</span>
                            <a href="">Instagram</a>
                            <a href="">Facebook</a>
                            <a href="">Subscribe</a> 
                         </nav>
                    </div>
                    <div class="column col-3">
                        <nav class="contact">
                            <a href="mailto:info@stclements.co.nz" target="_blank" class="no-route">info@stclements.co.nz</a>
                            <a href="tel:+64 21 969 059" target="_blank" class="no-route">+64 21 969 059</a>
                        </nav>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>

