<span class="meta-tile white-page description" data-title="St Clement — Joe Loveseat"></span>

<div class="scrollContainer">
    <div class="innerScroller">
        <!-- logo -->
        <section class="intro _detail">
            <div class="device-content">  
                <div class="row">
                    <div class="column col-10">
                        <span>5 products</span>
                    </div>
                </div>  
            </div>
        </section>
        <!-- carousel -->
        <div class="hero device-content _detail">
           
            <div class="row">
                <div class="column col-3"><span class="fix"></span></div>
                <div class="column col-6">
                    <a href="/furniture/joe-loveseat">
                        <figure class="">
                            <div class="image _3x2L">
                                <img src="/images/products/sidetable/1.jpg" alt="">
                            </div>
                            <figcaption>
                                <span>Side Table</span>
                            </figcaption>
                        </figure>
                    </a>
                </div>
                
            </div>
            <div class="row">
                <div class="column col-3">
                    <a href="/furniture/joe-loveseat">
                        <figure class="">
                            <div class="image _1x1">
                                <img src="/images/products/sidetable/2.jpg" alt="">
                            </div>
                            <figcaption>
                                <span>Side Table</span>
                            </figcaption>
                        </figure>
                    </a>
               
                </div>
                 <div class="column col-3"><span class="fix"></span></div>
                 <div class="column col-6">
                    <a href="/furniture/joe-loveseat">
                        <figure class="">
                            <div class="image _1x1">
                                <img src="/images/products/sidetable/3.jpg" alt="">
                            </div>
                            <figcaption>
                                <span>Side Table</span>
                            </figcaption>
                        </figure>
                    </a>
               
                </div>
            </div>
             <div class="row">
                <div class="column col-3"><span class="fix"></span></div>
                <div class="column col-6">
                    <a href="/furniture/joe-loveseat">
                        <figure class="">
                            <div class="image _3x2L">
                                <img src="/images/products/sidetable/4.jpg" alt="">
                            </div>
                            <figcaption>
                                <span>Side Table</span>
                            </figcaption>
                        </figure>
                    </a>
                </div>
                
            </div>
            
        </div>

      
        <!-- footer -->
        <footer class="w_text">
            <div class="device-content">
                <div class="row">
                    <div class="column col-3">
                        <p>68 France Street South, <br>
                         Eden Terrace, 1011 Auckland</p>
                        <p class="copyright">© St Clements</p>
                    </div>
                    <div class="column col-3">
                        <p>Mon – Fri: 10.00am – 5.30pm<br>
                         Sat: 10.00am – 4.00pm</p>
                         <nav>
                            <span>Follow</span>
                            <a href="">Instagram</a>
                            <a href="">Facebook</a>
                            <a href="">Subscribe</a> 
                         </nav>
                    </div>
                    <div class="column col-3">
                        <nav class="contact">
                            <a href="mailto:info@stclements.co.nz" target="_blank" class="no-route">info@stclements.co.nz</a>
                            <a href="tel:+64 21 969 059" target="_blank" class="no-route">+64 21 969 059</a>
                        </nav>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>

