<span class="meta-tile black-page" data-title="St Clement — Joe Loveseat"></span>
<div class="modal_holder"></div>
<div class="scrollContainer">
    <div class="innerScroller">
        <!-- logo -->
        <section class="intro _detail _product">
            <div class="device-content">  
                <div class="row">
                    <div class="column col-10">
                        <span class="_404">Page not found</span>
                    </div>
                </div>  
            </div>
        </section>
        <!-- footer -->
        <footer class="w_text _autoverflow">
            <div class="device-content dark">
                <div class="row">
                    <div class="column col-3">
                        <p>68 France Street South, <br>
                         Eden Terrace, 1011 Auckland</p>
                        <p class="copyright">© St Clements</p>
                    </div>
                    <div class="column col-3">
                        <p>Mon – Fri: 10.00am – 5.30pm<br>
                         Sat: 10.00am – 4.00pm</p>
                         <nav>
                            <span>Follow</span>
                            <a href="">Instagram</a>
                            <a href="">Facebook</a>
                            <a href="">Subscribe</a> 
                         </nav>
                    </div>
                    <div class="column col-3">
                        <nav class="contact">
                            <a href="mailto:info@stclements.co.nz" target="_blank" class="no-route">info@stclements.co.nz</a>
                            <a href="tel:+64 21 969 059" target="_blank" class="no-route">+64 21 969 059</a>
                        </nav>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>

