<span class="meta-tile" data-title="St Clement — Home"></span>
<div class="modal_holder"></div>
<div class="scrollContainer">
    <div class="innerScroller">
        <div class="top_fix"></div>

        <div class="device-content">
            <section class="featured overflauto">
                <div class="row">
                    <div class="column col-2">
                        <span class="fix"></span>
                        <figure class="innerImg">
                            <div class="image _1x1"></div>
                            <!-- <figcaption class="w_text">
                                <p>Coffee table</p>
                                <span>Avalon Coffee table</span>
                            </figcaption> -->
                        </figure>
                    </div>
                    <div class="column col-1"><span class="fix"></span></div>
                    <div class="column col-3">
                        <div class="search-block">
                            <h4>Coffee Table</h4>   
                            <ul>
                                <li>
                                    <a href="/furniture/joe-loveseat" data-img="/images/home/1.jpg">Avalon Coffee Table</a>
                                    <figure class="innerImg">
                                        <div class="image _1x1" style="background-image:url(/images/home/2.jpg); background-repeat: no-repeat; background-size: cover;"></div>
                                        <figcaption class="w_text">
                                            <p>Coffee table</p>
                                            <span>Avalon Coffee table</span>
                                        </figcaption>
                                    </figure>
                                </li>
                                <li>
                                    <a href="/furniture/joe-loveseat" data-img="/images/home/2.jpg">Connie Coffee Table</a>
                                    <figure class="innerImg">
                                        <div class="image _1x1" style="background-image:url(/images/home/2.jpg); background-repeat: no-repeat; background-size: cover;"></div>
                                        <figcaption class="w_text">
                                            <p>Coffee table</p>
                                            <span>Avalon Coffee table</span>
                                        </figcaption>
                                    </figure>
                                </li>
                                <li>
                                    <a href="/furniture/joe-loveseat" data-img="/images/home/3.jpg">New York Co ee Table</a>
                                    <figure class="innerImg">
                                        <div class="image _1x1" style="background-image:url(/images/home/3.jpg); background-repeat: no-repeat; background-size: cover;"></div>
                                        <figcaption class="w_text">
                                            <p>Coffee table</p>
                                            <span>Avalon Coffee table</span>
                                        </figcaption>
                                    </figure>
                                </li>
                            </ul>
                        </div>
                        <div class="search-block">
                            <h4>Side Table</h4>   
                            <ul>
                                <li><a href="/furniture/joe-loveseat" data-img="/images/home/4.jpg">Comme Side Table</a>
                                    <figure class="innerImg">
                                        <div class="image _1x1" style="background-image:url(/images/home/4.jpg); background-repeat: no-repeat; background-size: cover;"></div>
                                        <figcaption class="w_text">
                                            <p>Coffee table</p>
                                            <span>Avalon Coffee table</span>
                                        </figcaption>
                                    </figure>
                                </li>
                                <li><a href="/furniture/joe-loveseat" data-img="/images/home/5.jpg">Frank Buffet</a>
                                    <figure class="innerImg">
                                        <div class="image _1x1" style="background-image:url(/images/home/5.jpg); background-repeat: no-repeat; background-size: cover;"></div>
                                        <figcaption class="w_text">
                                            <p>Coffee table</p>
                                            <span>Avalon Coffee table</span>
                                        </figcaption>
                                    </figure>
                                </li>
                                <li><a href="/furniture/joe-loveseat" data-img="/images/home/6.jpg">Global Bench</a>
                                    <figure class="innerImg">
                                        <div class="image _1x1" style="background-image:url(/images/home/6.jpg); background-repeat: no-repeat; background-size: cover;"></div>
                                        <figcaption class="w_text">
                                            <p>Coffee table</p>
                                            <span>Avalon Coffee table</span>
                                        </figcaption>
                                    </figure>
                                </li>
                                <li><a href="/furniture/joe-loveseat" data-img="/images/home/7.jpg">Terzini Bench</a>
                                    <figure class="innerImg">
                                        <div class="image _1x1" style="background-image:url(/images/home/7.jpg); background-repeat: no-repeat; background-size: cover;"></div>
                                        <figcaption class="w_text">
                                            <p>Coffee table</p>
                                            <span>Avalon Coffee table</span>
                                        </figcaption>
                                    </figure>
                                </li>
                                <li><a href="/furniture/joe-loveseat" data-img="/images/home/1.jpg">Vaughan Side Table</a>
                                    <figure class="innerImg">
                                        <div class="image _1x1" style="background-image:url(/images/home/1.jpg); background-repeat: no-repeat; background-size: cover;"></div>
                                        <figcaption class="w_text">
                                            <p>Coffee table</p>
                                            <span>Avalon Coffee table</span>
                                        </figcaption>
                                    </figure>
                                </li>
                            </ul>
                        </div>
                        <div class="search-block">
                            <h4>Dining Table</h4>   
                            <ul>
                                <li><a href="/furniture/joe-loveseat" data-img="/images/home/2.jpg">Antwerp Table</a>
                                    <figure class="innerImg">
                                        <div class="image _1x1" style="background-image:url(/images/home/2.jpg); background-repeat: no-repeat; background-size: cover;"></div>
                                        <figcaption class="w_text">
                                            <p>Coffee table</p>
                                            <span>Avalon Coffee table</span>
                                        </figcaption>
                                    </figure>

                                </li>
                                <li><a href="/furniture/joe-loveseat" data-img="/images/home/3.jpg">Axel Table</a>
                                    <figure class="innerImg">
                                        <div class="image _1x1" style="background-image:url(/images/home/3.jpg); background-repeat: no-repeat; background-size: cover;"></div>
                                        <figcaption class="w_text">
                                            <p>Coffee table</p>
                                            <span>Avalon Coffee table</span>
                                        </figcaption>
                                    </figure>

                                </li>
                                <li><a href="/furniture/joe-loveseat" data-img="/images/home/4.jpg">Bruges Table</a>
                                    <figure class="innerImg">
                                        <div class="image _1x1" style="background-image:url(/images/home/4.jpg); background-repeat: no-repeat; background-size: cover;"></div>
                                        <figcaption class="w_text">
                                            <p>Coffee table</p>
                                            <span>Avalon Coffee table</span>
                                        </figcaption>
                                    </figure>

                                </li>
                                <li><a href="/furniture/joe-loveseat" data-img="/images/home/5.jpg">Global Rectangular</a>
                                    <figure class="innerImg">
                                        <div class="image _1x1" style="background-image:url(/images/home/5.jpg); background-repeat: no-repeat; background-size: cover;"></div>
                                        <figcaption class="w_text">
                                            <p>Coffee table</p>
                                            <span>Avalon Coffee table</span>
                                        </figcaption>
                                    </figure>

                                </li>
                                <li><a href="/furniture/joe-loveseat" data-img="/images/home/6.jpg">Global Circular</a>
                                    <figure class="innerImg">
                                        <div class="image _1x1" style="background-image:url(/images/home/6.jpg); background-repeat: no-repeat; background-size: cover;"></div>
                                        <figcaption class="w_text">
                                            <p>Coffee table</p>
                                            <span>Avalon Coffee table</span>
                                        </figcaption>
                                    </figure>

                                </li>
                                <li><a href="/furniture/joe-loveseat" data-img="/images/home/7.jpg">H Stretcher</a>
                                    <figure class="innerImg">
                                        <div class="image _1x1" style="background-image:url(/images/home/7.jpg); background-repeat: no-repeat; background-size: cover;"></div>
                                        <figcaption class="w_text">
                                            <p>Coffee table</p>
                                            <span>Avalon Coffee table</span>
                                        </figcaption>
                                    </figure>

                                </li>
                                <li><a href="/furniture/joe-loveseat" data-img="/images/home/1.jpg">Hudson Table</a>
                                    <figure class="innerImg">
                                        <div class="image _1x1" style="background-image:url(/images/home/1.jpg); background-repeat: no-repeat; background-size: cover;"></div>
                                        <figcaption class="w_text">
                                            <p>Coffee table</p>
                                            <span>Avalon Coffee table</span>
                                        </figcaption>
                                    </figure>

                                </li>
                                <li><a href="/furniture/joe-loveseat" data-img="/images/home/2.jpg">Luna Table</a>
                                    <figure class="innerImg">
                                        <div class="image _1x1" style="background-image:url(/images/home/2.jpg); background-repeat: no-repeat; background-size: cover;"></div>
                                        <figcaption class="w_text">
                                            <p>Coffee table</p>
                                            <span>Avalon Coffee table</span>
                                        </figcaption>
                                    </figure>

                                </li>
                                <li><a href="/furniture/joe-loveseat" data-img="/images/home/3.jpg">Palm Table</a>
                                    <figure class="innerImg">
                                        <div class="image _1x1" style="background-image:url(/images/home/3.jpg); background-repeat: no-repeat; background-size: cover;"></div>
                                        <figcaption class="w_text">
                                            <p>Coffee table</p>
                                            <span>Avalon Coffee table</span>
                                        </figcaption>
                                    </figure>

                                </li>
                                <li><a href="/furniture/joe-loveseat" data-img="/images/home/4.jpg">St Tropez Table</a>
                                    <figure class="innerImg">
                                        <div class="image _1x1" style="background-image:url(/images/home/4.jpg); background-repeat: no-repeat; background-size: cover;"></div>
                                        <figcaption class="w_text">
                                            <p>Coffee table</p>
                                            <span>Avalon Coffee table</span>
                                        </figcaption>
                                    </figure>

                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="column col-3">
                        <div class="search-block">
                            <h4>Sofa</h4>   
                            <ul>
                                <li><a href="/furniture/joe-loveseat" data-img="/images/home/5.jpg">Banjo Sofa</a>
                                    <figure class="innerImg">
                                        <div class="image _1x1" style="background-image:url(/images/home/2.jpg); background-repeat: no-repeat; background-size: cover;"></div>
                                        <figcaption class="w_text">
                                            <p>Coffee table</p>
                                            <span>Avalon Coffee table</span>
                                        </figcaption>
                                    </figure>

                                </li>
                                <li><a href="/furniture/joe-loveseat" data-img="/images/home/6.jpg">Boxster Sofa</a>
                                    <figure class="innerImg">
                                        <div class="image _1x1" style="background-image:url(/images/home/2.jpg); background-repeat: no-repeat; background-size: cover;"></div>
                                        <figcaption class="w_text">
                                            <p>Coffee table</p>
                                            <span>Avalon Coffee table</span>
                                        </figcaption>
                                    </figure>

                                </li>
                                <li><a href="/furniture/joe-loveseat" data-img="/images/home/7.jpg">Hampton Sofa</a>
                                    <figure class="innerImg">
                                        <div class="image _1x1" style="background-image:url(/images/home/2.jpg); background-repeat: no-repeat; background-size: cover;"></div>
                                        <figcaption class="w_text">
                                            <p>Coffee table</p>
                                            <span>Avalon Coffee table</span>
                                        </figcaption>
                                    </figure>

                                </li>
                                <li><a href="/furniture/joe-loveseat" data-img="/images/home/1.jpg">Holt Sofa</a>
                                    <figure class="innerImg">
                                        <div class="image _1x1" style="background-image:url(/images/home/2.jpg); background-repeat: no-repeat; background-size: cover;"></div>
                                        <figcaption class="w_text">
                                            <p>Coffee table</p>
                                            <span>Avalon Coffee table</span>
                                        </figcaption>
                                    </figure>

                                </li>
                                <li><a href="/furniture/joe-loveseat" data-img="/images/home/2.jpg">Joe Sofa Armless</a>
                                    <figure class="innerImg">
                                        <div class="image _1x1" style="background-image:url(/images/home/2.jpg); background-repeat: no-repeat; background-size: cover;"></div>
                                        <figcaption class="w_text">
                                            <p>Coffee table</p>
                                            <span>Avalon Coffee table</span>
                                        </figcaption>
                                    </figure>

                                </li>
                                <li><a href="/furniture/joe-loveseat" data-img="/images/home/3.jpg">Joe Sofa with Arms</a>
                                    <figure class="innerImg">
                                        <div class="image _1x1" style="background-image:url(/images/home/2.jpg); background-repeat: no-repeat; background-size: cover;"></div>
                                        <figcaption class="w_text">
                                            <p>Coffee table</p>
                                            <span>Avalon Coffee table</span>
                                        </figcaption>
                                    </figure>

                                </li>
                                <li><a href="/furniture/joe-loveseat" data-img="/images/home/4.jpg">Joe Deep Sofa with Arms</a>
                                    <figure class="innerImg">
                                        <div class="image _1x1" style="background-image:url(/images/home/2.jpg); background-repeat: no-repeat; background-size: cover;"></div>
                                        <figcaption class="w_text">
                                            <p>Coffee table</p>
                                            <span>Avalon Coffee table</span>
                                        </figcaption>
                                    </figure>

                                </li>
                                <li><a href="/furniture/joe-loveseat" data-img="/images/home/5.jpg">Motti Sofa</a>
                                    <figure class="innerImg">
                                        <div class="image _1x1" style="background-image:url(/images/home/2.jpg); background-repeat: no-repeat; background-size: cover;"></div>
                                        <figcaption class="w_text">
                                            <p>Coffee table</p>
                                            <span>Avalon Coffee table</span>
                                        </figcaption>
                                    </figure>

                                </li>
                                <li><a href="/furniture/joe-loveseat" data-img="/images/home/6.jpg">Rex Sofa Armchair</a>
                                    <figure class="innerImg">
                                        <div class="image _1x1" style="background-image:url(/images/home/2.jpg); background-repeat: no-repeat; background-size: cover;"></div>
                                        <figcaption class="w_text">
                                            <p>Coffee table</p>
                                            <span>Avalon Coffee table</span>
                                        </figcaption>
                                    </figure>

                                </li>
                                <li><a href="/furniture/joe-loveseat" data-img="/images/home/7.jpg"></a>
                                    <figure class="innerImg">
                                        <div class="image _1x1" style="background-image:url(/images/home/2.jpg); background-repeat: no-repeat; background-size: cover;"></div>
                                        <figcaption class="w_text">
                                            <p>Coffee table</p>
                                            <span>Avalon Coffee table</span>
                                        </figcaption>
                                    </figure>

                                </li>
                            </ul>
                        </div>
                        <div class="search-block mb_280">
                            <h4>Armchair</h4>   
                            <ul>
                                <li><a href="/furniture/joe-loveseat" data-img="/images/home/1.jpg">Banjo Loveseat</a>
                                    <figure class="innerImg">
                                        <div class="image _1x1" style="background-image:url(/images/home/2.jpg); background-repeat: no-repeat; background-size: cover;"></div>
                                        <figcaption class="w_text">
                                            <p>Coffee table</p>
                                            <span>Avalon Coffee table</span>
                                        </figcaption>
                                    </figure>
                                </li>
                                <li><a href="/furniture/joe-loveseat" data-img="/images/home/2.jpg">Boxster Slipper</a>
                                    <figure class="innerImg">
                                        <div class="image _1x1" style="background-image:url(/images/home/2.jpg); background-repeat: no-repeat; background-size: cover;"></div>
                                        <figcaption class="w_text">
                                            <p>Coffee table</p>
                                            <span>Avalon Coffee table</span>
                                        </figcaption>
                                    </figure>
                                </li>
                                <li><a href="/furniture/joe-loveseat" data-img="/images/home/3.jpg">Hampton Slipper</a>
                                    <figure class="innerImg">
                                        <div class="image _1x1" style="background-image:url(/images/home/2.jpg); background-repeat: no-repeat; background-size: cover;"></div>
                                        <figcaption class="w_text">
                                            <p>Coffee table</p>
                                            <span>Avalon Coffee table</span>
                                        </figcaption>
                                    </figure>
                                </li>
                                <li><a href="/furniture/joe-loveseat" data-img="/images/home/4.jpg">Holt Armchair</a>
                                    <figure class="innerImg">
                                        <div class="image _1x1" style="background-image:url(/images/home/2.jpg); background-repeat: no-repeat; background-size: cover;"></div>
                                        <figcaption class="w_text">
                                            <p>Coffee table</p>
                                            <span>Avalon Coffee table</span>
                                        </figcaption>
                                    </figure>
                                </li>
                                <li><a href="/furniture/joe-loveseat" data-img="/images/home/5.jpg">Joe Armchair</a>
                                    <figure class="innerImg">
                                        <div class="image _1x1" style="background-image:url(/images/home/2.jpg); background-repeat: no-repeat; background-size: cover;"></div>
                                        <figcaption class="w_text">
                                            <p>Coffee table</p>
                                            <span>Avalon Coffee table</span>
                                        </figcaption>
                                    </figure>
                                </li>
                                <li><a href="/furniture/joe-loveseat" data-img="/images/home/6.jpg">Joe Loveseat</a>
                                    <figure class="innerImg">
                                        <div class="image _1x1" style="background-image:url(/images/home/2.jpg); background-repeat: no-repeat; background-size: cover;"></div>
                                        <figcaption class="w_text">
                                            <p>Coffee table</p>
                                            <span>Avalon Coffee table</span>
                                        </figcaption>
                                    </figure>
                                </li>
                                <li><a href="/furniture/joe-loveseat" data-img="/images/home/7.jpg">Joe Ottoman</a>
                                    <figure class="innerImg">
                                        <div class="image _1x1" style="background-image:url(/images/home/2.jpg); background-repeat: no-repeat; background-size: cover;"></div>
                                        <figcaption class="w_text">
                                            <p>Coffee table</p>
                                            <span>Avalon Coffee table</span>
                                        </figcaption>
                                    </figure>
                                </li>
                                <li><a href="/furniture/joe-loveseat" data-img="/images/home/1.jpg">Joe Round Ottoman</a>
                                    <figure class="innerImg">
                                        <div class="image _1x1" style="background-image:url(/images/home/2.jpg); background-repeat: no-repeat; background-size: cover;"></div>
                                        <figcaption class="w_text">
                                            <p>Coffee table</p>
                                            <span>Avalon Coffee table</span>
                                        </figcaption>
                                    </figure>
                                </li>
                                <li><a href="/furniture/joe-loveseat" data-img="/images/home/2.jpg">Joe Slipper</a>
                                    <figure class="innerImg">
                                        <div class="image _1x1" style="background-image:url(/images/home/2.jpg); background-repeat: no-repeat; background-size: cover;"></div>
                                        <figcaption class="w_text">
                                            <p>Coffee table</p>
                                            <span>Avalon Coffee table</span>
                                        </figcaption>
                                    </figure>
                                </li>
                                <li><a href="/furniture/joe-loveseat" data-img="/images/home/3.jpg">Kiki Chair</a>
                                    <figure class="innerImg">
                                        <div class="image _1x1" style="background-image:url(/images/home/2.jpg); background-repeat: no-repeat; background-size: cover;"></div>
                                        <figcaption class="w_text">
                                            <p>Coffee table</p>
                                            <span>Avalon Coffee table</span>
                                        </figcaption>
                                    </figure>
                                </li>
                                <li><a href="/furniture/joe-loveseat" data-img="/images/home/4.jpg">Lowlife Ottoman</a>
                                    <figure class="innerImg">
                                        <div class="image _1x1" style="background-image:url(/images/home/2.jpg); background-repeat: no-repeat; background-size: cover;"></div>
                                        <figcaption class="w_text">
                                            <p>Coffee table</p>
                                            <span>Avalon Coffee table</span>
                                        </figcaption>
                                    </figure>
                                </li>
                                <li><a href="/furniture/joe-loveseat" data-img="/images/home/5.jpg">Marni Chair</a>
                                    <figure class="innerImg">
                                        <div class="image _1x1" style="background-image:url(/images/home/2.jpg); background-repeat: no-repeat; background-size: cover;"></div>
                                        <figcaption class="w_text">
                                            <p>Coffee table</p>
                                            <span>Avalon Coffee table</span>
                                        </figcaption>
                                    </figure>
                                </li>
                                <li><a href="/furniture/joe-loveseat" data-img="/images/home/6.jpg">Milan Armchair</a>
                                    <figure class="innerImg">
                                        <div class="image _1x1" style="background-image:url(/images/home/2.jpg); background-repeat: no-repeat; background-size: cover;"></div>
                                        <figcaption class="w_text">
                                            <p>Coffee table</p>
                                            <span>Avalon Coffee table</span>
                                        </figcaption>
                                    </figure>
                                </li>
                                <li><a href="/furniture/joe-loveseat" data-img="/images/home/7.jpg">Moritz Swivel</a>
                                    <figure class="innerImg">
                                        <div class="image _1x1" style="background-image:url(/images/home/2.jpg); background-repeat: no-repeat; background-size: cover;"></div>
                                        <figcaption class="w_text">
                                            <p>Coffee table</p>
                                            <span>Avalon Coffee table</span>
                                        </figcaption>
                                    </figure>
                                </li>
                                <li><a href="/furniture/joe-loveseat" data-img="/images/home/1.jpg">Natureboy</a>
                                    <figure class="innerImg">
                                        <div class="image _1x1" style="background-image:url(/images/home/2.jpg); background-repeat: no-repeat; background-size: cover;"></div>
                                        <figcaption class="w_text">
                                            <p>Coffee table</p>
                                            <span>Avalon Coffee table</span>
                                        </figcaption>
                                    </figure>
                                </li>
                                <li><a href="/furniture/joe-loveseat" data-img="/images/home/2.jpg">Rex Armchair</a>
                                    <figure class="innerImg">
                                        <div class="image _1x1" style="background-image:url(/images/home/2.jpg); background-repeat: no-repeat; background-size: cover;"></div>
                                        <figcaption class="w_text">
                                            <p>Coffee table</p>
                                            <span>Avalon Coffee table</span>
                                        </figcaption>
                                    </figure>
                                </li>
                                
                            </ul>
                        </div>
                    </div>
                    <div class="column col-3">
                        <div class="search-block">
                            <h4>Bed</h4>   
                            <ul>
                                <li><a href="/furniture/joe-loveseat" data-img="/images/home/1.jpg">Joe Bed</a>
                                    <figure class="innerImg">
                                        <div class="image _1x1" style="background-image:url(/images/home/2.jpg); background-repeat: no-repeat; background-size: cover;"></div>
                                        <figcaption class="w_text">
                                            <p>Coffee table</p>
                                            <span>Avalon Coffee table</span>
                                        </figcaption>
                                    </figure>
                                </li>
                                <li><a href="/furniture/joe-loveseat" data-img="/images/home/1.jpg">Lou Lou Bed</a>
                                    <figure class="innerImg">
                                        <div class="image _1x1" style="background-image:url(/images/home/2.jpg); background-repeat: no-repeat; background-size: cover;"></div>
                                        <figcaption class="w_text">
                                            <p>Coffee table</p>
                                            <span>Avalon Coffee table</span>
                                        </figcaption>
                                    </figure>
                                </li>
                            </ul>
                        </div>
                        <div class="search-block">
                            <h4>Decor</h4>   
                            <ul>
                                <li><a href="/furniture/joe-loveseat" data-img="/images/home/1.jpg">Glass Jar</a>
                                    <figure class="innerImg">
                                        <div class="image _1x1" style="background-image:url(/images/home/2.jpg); background-repeat: no-repeat; background-size: cover;"></div>
                                        <figcaption class="w_text">
                                            <p>Coffee table</p>
                                            <span>Avalon Coffee table</span>
                                        </figcaption>
                                    </figure>
                                </li>
                                <li><a href="/furniture/joe-loveseat" data-img="/images/home/1.jpg">Tonk Stool</a>
                                    <figure class="innerImg">
                                        <div class="image _1x1" style="background-image:url(/images/home/2.jpg); background-repeat: no-repeat; background-size: cover;"></div>
                                        <figcaption class="w_text">
                                            <p>Coffee table</p>
                                            <span>Avalon Coffee table</span>
                                        </figcaption>
                                    </figure>
                                </li>
                                <li><a href="/furniture/joe-loveseat" data-img="/images/home/1.jpg">Nick Leary Art</a>
                                    <figure class="innerImg">
                                        <div class="image _1x1" style="background-image:url(/images/home/2.jpg); background-repeat: no-repeat; background-size: cover;"></div>
                                        <figcaption class="w_text">
                                            <p>Coffee table</p>
                                            <span>Avalon Coffee table</span>
                                        </figcaption>
                                    </figure>
                                </li>
                                <li><a href="/furniture/joe-loveseat" data-img="/images/home/1.jpg">Frank Schwere Art</a>
                                    <figure class="innerImg">
                                        <div class="image _1x1" style="background-image:url(/images/home/2.jpg); background-repeat: no-repeat; background-size: cover;"></div>
                                        <figcaption class="w_text">
                                            <p>Coffee table</p>
                                            <span>Avalon Coffee table</span>
                                        </figcaption>
                                    </figure>
                                </li>
                                <li><a href="/furniture/joe-loveseat" data-img="/images/home/1.jpg">Detroit Architecture Art</a>
                                    <figure class="innerImg">
                                        <div class="image _1x1" style="background-image:url(/images/home/2.jpg); background-repeat: no-repeat; background-size: cover;"></div>
                                        <figcaption class="w_text">
                                            <p>Coffee table</p>
                                            <span>Avalon Coffee table</span>
                                        </figcaption>
                                    </figure>
                                </li>
                                <li><a href="/furniture/joe-loveseat" data-img="/images/home/1.jpg">Circular Mirror</a>
                                    <figure class="innerImg">
                                        <div class="image _1x1" style="background-image:url(/images/home/2.jpg); background-repeat: no-repeat; background-size: cover;"></div>
                                        <figcaption class="w_text">
                                            <p>Coffee table</p>
                                            <span>Avalon Coffee table</span>
                                        </figcaption>
                                    </figure>
                                </li>
                                <li><a href="/furniture/joe-loveseat" data-img="/images/home/1.jpg">Rectangular Mirror</a>
                                    <figure class="innerImg">
                                        <div class="image _1x1" style="background-image:url(/images/home/2.jpg); background-repeat: no-repeat; background-size: cover;"></div>
                                        <figcaption class="w_text">
                                            <p>Coffee table</p>
                                            <span>Avalon Coffee table</span>
                                        </figcaption>
                                    </figure>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>


            <footer class="w_text">
                <div class="row">
                    <div class="column col-3">
                        <p>68 France Street South, <br>
                         Eden Terrace, 1011 Auckland</p>
                        <p class="copyright">© St Clements</p>
                    </div>
                    <div class="column col-3">
                        <p>Mon – Fri: 10.00am – 5.30pm<br>
                         Sat: 10.00am – 4.00pm</p>
                         <nav>
                            <span>Follow</span>
                            <a href="/" data-img="/images/home/1.jpg">Instagram</a>
                            <a href="/" data-img="/images/home/1.jpg">Facebook</a>
                            <a href="/" data-img="/images/home/1.jpg">Subscribe</a> 
                         </nav>
                    </div>
                    <div class="column col-3">
                        <nav class="contact">
                            <a href="mailto:info@stclements.co.nz" target="_blank" class="no-route">info@stclements.co.nz</a>
                            <a href="tel:+64 21 969 059" target="_blank" class="no-route">+64 21 969 059</a>
                        </nav>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</div>
<!-- <div class="black-bg search"></div> -->
